<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903651313871-3hosv6cmfuuha9o9c74tgqunf87fp62k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903651313871-3hosv6cmfuuha9o9c74tgqunf87fp62k</string>
	<key>API_KEY</key>
	<string>AIzaSyBSMBSVIo60kqxPpV3wonkNG_OcAKRtEW0</string>
	<key>GCM_SENDER_ID</key>
	<string>903651313871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.FirebaseFreehandProjectLarsen</string>
	<key>PROJECT_ID</key>
	<string>freehandfirebaseproject</string>
	<key>STORAGE_BUCKET</key>
	<string>freehandfirebaseproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903651313871:ios:368d2fb00dd163048b8fba</string>
</dict>
</plist>